opentelemetry-exporter-otlp==1.9.1

opentelemetry-instrumentation-botocore==0.28b1
opentelemetry-instrumentation-logging==0.28b1
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability