opentelemetry-exporter-otlp==1.9.1

opentelemetry-instrumentation-botocore==0.28b1
opentelemetry-instrumentation-logging==0.28b1
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability